<aside
  class="
    scrollbar-custom bg-gradient-to-br from-gray-800 to-gray-900
    fixed z-[60] my-4 ml-4 h-[calc(100vh-32px)]
    rounded-xl shadow-lg overflow-y-auto select-none
    transition-transform duration-300 ease-in-out transform-gpu will-change-transform
  "
  [ngClass]="{
    'w-72 xl:translate-x-0 left-0 right-auto': !collapsed,
    'w-20 xl:translate-x-0 left-0 right-auto':  collapsed,
    '-translate-x-[110%] xl:translate-x-0': !open,
    'translate-x-0': open,
    'pointer-events-none': isAnimating  
  }"
  (transitionend)="isAnimating = false"
>

  <!-- Header -->
  <div
    class="sticky top-0 z-10 border-b border-white/20 
          flex items-center justify-between 
          px-4 py-3 bg-gradient-to-br from-gray-800 to-gray-900"
  >
    <h6 class="text-white font-semibold text-sm tracking-wide truncate">
      Alcaldía de Almaguer
    </h6>

    <!-- Cerrar en móvil -->
    <button
      class="xl:hidden p-2 text-white/90 hover:bg-white/10 rounded-lg"
      type="button"
      (click)="close()"
      aria-label="Cerrar menú"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>


  <!-- Menú -->
  <div class="m-3 space-y-1 pt-1">
    <app-list-home />
    <app-list-projects />
    <app-list-nucleo />
    <app-list-proceedings />
    <app-list-beneficiary />
    <app-list-categorias />
    <app-list-inventory />
    <app-list-responsible *hasRole="['ADMIN']" />
  </div>
</aside>
