nav {
  font-family: "Inter", system-ui, sans-serif;
}

img {
  display: inline-block;
  vertical-align: middle;
}

mat-icon {
  vertical-align: middle;
  font-size: 18px;
  line-height: 1;
}
