<section class="font-std w-full font-normal relative overflow-x-auto flex flex-col h-section scrollbar-custom bg-white rounded-2xl">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0 bg-white/2">
      <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900">
        Control de donaciones
      </a>
      <div class="w-full bg-white rounded-lg shadow md:mt-0 xl:p-0">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl ">
                Registrá tu cuenta
              </h1>
              <form class="space-y-4 md:space-y-6" action="#">
                  <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Tu correo electrónico</label>
                    <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" placeholder="name@company.com" required="">
                  </div>

                  <div class="w-full flex flex-wrap justify-between">
                    <div class="w-full md:w-[49%]">
                      <label for="nombre_1" class="block text-sm font-medium text-gray-700">Primer nombre</label>
                      <input formControlName="nombre1" type="text" id="nombre_1" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500" placeholder="Primer nombre">
                    </div>

                    <div class="w-full md:w-[49%]">
                      <label for="nombre_2" class="block text-sm font-medium text-gray-700">Segundo nombre</label>
                      <input formControlName="nombre2" type="text" id="nombre_2" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500" placeholder="Segundo nombre">
                    </div>
                  </div>

                  <div class="w-full flex flex-wrap justify-between">
                    <div class="w-full md:w-[49%] my-2">
                      <label for="apellido_1" class="block text-sm font-medium text-gray-700">Primer apellido</label>
                      <input formControlName="apellido1" type="text" id="apellido_1" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500" placeholder="Primer apellido">
                    </div>

                    <div class="w-full md:w-[49%] my-2">
                      <label for="apellido_2" class="block text-sm font-medium text-gray-700">Segundo apellido</label>
                      <input formControlName="apellido2" type="text" id="apellido_2" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500" placeholder="Segundo apellido">
                    </div>
                  </div>

                  <div class="w-full flex justify-between md:gap-5 flex-wrap md:flex-nowrap">
                    <div class="w-full md:w-52">
                      <label for="tipo_documento" class="block text-sm font-medium text-gray-700">Tipo de documento</label>
                      <select formControlName="tipoDocumento" name="tipo_documento" id="tipo_documento" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                        <option value="cc" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 capitalize" selected>C.C</option>
                        <option value="ti" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 capitalize" >t.i</option>
                        <option value="pasaporte" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 capitalize" >pasaporte</option>
                      </select>
                    </div>

                    <div class="w-full">
                      <label for="id" class="block text-sm font-medium text-gray-700">Número de documento</label>
                      <input formControlName="numeroDocumento" type="text" id="id" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500" placeholder="Documento">
                    </div>
                  </div>

                  <div class="w-full flex flex-wrap justify-between">
                    <div class="w-full md:w-[49%] my-2">
                      <label for="cargo" class="block text-sm font-medium text-gray-700">Cargo</label>
                      <input formControlName="cargo" type="text" id="cargo" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500" placeholder="Primer apellido">
                    </div>

                    <div class="w-full md:w-[49%] my-2">
                      <label for="area" class="block text-sm font-medium text-gray-700">Área</label>
                      <input formControlName="area" type="text" id="area" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500" placeholder="Segundo apellido">
                    </div>
                  </div>

                  <div>
                    <label for="telefono" class="block mb-2 text-sm font-medium text-gray-900 ">Télefono</label>
                    <input type="text" name="telefono" id="telefono" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" placeholder="name@company.com" required="">
                  </div>

                  <div>
                      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Contraseña</label>
                      <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" required="">
                  </div>
                  <div>
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Confirma tú contraseña</label>
                    <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" required="">
                  </div>
                  <!-- <div class="flex items-center justify-between">
                      <a href="#" class="text-sm font-medium text-blue-600 hover:underline">¿Has olvidado tu contraseña?</a>
                  </div> -->
                  <button
                    type="submit"
                    class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                    Registrate
                  </button>
                  <p class="text-sm font-light text-gray-500">
                    ¿Ya tienes una cuenta?
                    <a routerLink="/auth"  class="font-medium text-blue-600 hover:underline">Ingresa</a>
                  </p>
              </form>
          </div>
      </div>
  </div>
</section>
