<section class="h-[calc(100vh-6rem)] scroll-auto scrollbar-custom overflow-y-auto">
  <header class="flex justify-between items-center mb-5">
    <h1 class="text-2xl text-blue_primary">Beneficiarios en Proyectos</h1>
  </header>

  <div class="overflow-x-auto">
    <table class="w-full text-sm border">
      <thead>
        @for(headerGroup of dataTable.getHeaderGroups(); track headerGroup.id){
          <tr class="py-1">
            @for(headerItem of headerGroup.headers; track headerItem.id){
              <th scope="col" class="bg-gradient-to-br from-gray-800 to-gray-900 text-white h-5">
                <div class="flex flex-col h-full justify-between px-1 pb-2">
                  <ng-container
                    *flexRender="
                      headerItem.column.columnDef.header;
                      props: headerItem.getContext();
                      let header
                    "
                  >
                    <button (click)="onSortingColumn(headerItem.column)" class="flex gap-2 items-center justify-between bg-transparent py-2 pr-4 text-left" type="button">
                      <div [innerHTML]="header"></div>
                      @if(headerItem.column.id !== 'acciones'){
                        <span class="material-icons text-white text-2xl">unfold_less</span>
                      }
                    </button>
                  </ng-container>

                  @if(headerItem.column.columnDef.meta?.filterVariant === 'text'){
                    <app-table-filter [column]="headerItem.column" />
                  }
                </div>
              </th>
            }
          </tr>
        }
      </thead>

      <tbody>
        @for(row of dataTable.getRowModel().rows; track row.id){
          <tr>
            @for(cell of row.getVisibleCells(); track cell.id){
              <td class="py-1">
                @if(cell.column.id === 'acciones'){
                  <ng-container
                    *flexRender="
                      cell.column.columnDef.cell;
                      props: cell.getContext();
                      let cell
                    "
                  >
                    <button type="button" (click)="delete(row)" *hasRole="['ADMIN']">
                      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#b91c1c"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
                    </button>
                    <button type="button" (click)="update(row)">
                      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#22c55e"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
                    </button>
                  </ng-container>
                }
                @else {
                  <ng-container
                    *flexRender="
                      cell.column.columnDef.cell;
                      props: cell.getContext();
                      let cell
                    "
                  >
                    <div [innerHTML]="cell"></div>
                  </ng-container>
                }
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="flex justify-between items-center p-5">
    <div class="flex items-center">
      <span>{{(dataTable.getRowModel().rows.length)}} de {{dataTable.getRowCount()}} datos</span>
    </div>

    <div class="flex gap-5">
      <div class="flex items-center">
        <span>{{dataTable.getState().pagination.pageIndex + 1 }} de {{dataTable.getPageCount()}} Páginas</span>
      </div>

      <select class="" (change)="onChangeValueSizePageSelect($event)">
        @for(size of sizePage(); track size){
          <option [value]="size" [selected]="size === dataTable.getState().pagination.pageSize">{{size}}</option>
        }
      </select>

      <button [disabled]="!dataTable.getCanPreviousPage()" (click)="dataTable.previousPage()" class="btn-navigate-black" type="button">Anterior</button>
      <button [disabled]="!dataTable.getCanNextPage()" (click)="dataTable.nextPage()" class="btn-navigate-black" type="button">Siguiente</button>
    </div>
  </div>
 </section>
