<div class="font-std w-full font-normal relative overflow-x-auto flex flex-col h-section scrollbar-custom bg-white rounded-2xl">
  <form [formGroup]="formFamilyCore" class="form" (ngSubmit)="onSubmit()"
    class="scrollbar-custom overflow-y-scroll h-section p-5 leading-relaxed flex flex-col gap-3 pb-20 md:pb-5"
  >
    <div class="flex flex-wrap justify-between">
      <div class="w-full md:w-[49%]">
        <label for="zona" class="label-base">Seleccionar zona</label>
        <select formControlName="zona" name="zona" id="zona" class="input-base">
          <option value="zona urbana" class="input-base capitalize" selected>Zona Urbana</option>
          <option value="chilco" class="input-base capitalize" >achiral</option>
          <option value="garbanzal" class="input-base capitalize">altillo</option>
        </select>

        @if(formFamilyCore.get('zona')?.hasError('required') && formFamilyCore.get('zona')?.touched) {
          <p class="text-red-500">
            * Este campo es requerido
          </p>
        }
      </div>

      <div class="w-full md:w-[49%]">
        <label for="barrio" class="label-base">Seleccionar barrio</label>
        <select formControlName="barrio" name="barrio" id="barrio" class="input-base">
          <option value="sin_corregimiento" class="input-base capitalize" selected>Sin Corregimiento</option>
          <option value="chilco" class="input-base capitalize" >Chilco</option>
          <option value="garbanzal" class="input-base capitalize">garbanzal</option>
        </select>

        @if(formFamilyCore.get('barrio')?.hasError('required') && formFamilyCore.get('barrio')?.touched) {
          <p class="text-red-500">
            * Este campo es requerido
          </p>
        }
      </div>
    </div>

    <div class="flex flex-wrap justify-between">
      <div class="w-full md:w-[49%]">
        <label for="direccion" class="label-base">Dirección</label>
        <input [formControlName]="'direccion'" type="text" id="direccion" class="input-base" placeholder="Dirección">

        @if(formFamilyCore.get('direccion')?.hasError('required') && formFamilyCore.get('direccion')?.touched) {
          <p class="text-red-500">
            * Este campo es requerido
          </p>
        }
      </div>

      <div class="w-full md:w-[49%]">
        <label for="nombreNucleo" class="label-base">Nombre núcleo</label>
        <!-- <input formControlName="nombreNucleo" type="number" id="nombreNucleo" class="input-base" placeholder="nombreNucleo"> -->
        <input
          formControlName="nombreNucleo"
          type="text"
          id="nombreNucleo"
          class="input-base"
          placeholder="nombreNucleo"
        >
        @if(formFamilyCore.get('nombreNucleo')?.hasError('required') && formFamilyCore.get('nombreNucleo')?.touched) {
          <p class="text-red-500">
            * Este campo es requerido
          </p>
        }
      </div>
    </div>


    <h2>Integrantes</h2>
    <!--  -->
    <div formArrayName="beneficiarios" >
      <div class="flex justify-between flex-wrap gap-4 mb-4" *ngFor="let beneficiario of getCtrl('beneficiarios', formFamilyCore).controls; index as formBeneficiary" >
        <div class="flex flex-col w-full border border-gray-400 rounded-2xl p-4" [formGroupName]="formBeneficiary">

          <div class="w-full flex flex-wrap justify-between">
            <div class="w-full md:w-[49%]">
              <label for="nombre_1" class="label-base">Primer nombre</label>
              <input formControlName="nombre1" type="text" id="nombre_1" class="input-base" placeholder="Primer nombre">

              @if(beneficiario.get('nombre1')?.hasError('required') && beneficiario.get('nombre1')?.touched) {
                <p class="text-red-500">
                  * Este campo es requerido
                </p>
              }
            </div>

            <div class="w-full md:w-[49%]">
              <label for="nombre_2" class="label-base">Segundo nombre</label>
              <input formControlName="nombre2" type="text" id="nombre_2" class="input-base" placeholder="Segundo nombre">

              @if(beneficiario.get('nombre2')?.hasError('required') && beneficiario.get('nombre2')?.touched) {
                <p class="text-red-500">
                  * Este campo es requerido
                </p>
              }
            </div>
          </div>

          <div class="w-full flex flex-wrap justify-between">
            <div class="w-full md:w-[49%] my-2">
              <label for="apellido_1" class="label-base">Primer apellido</label>
              <input formControlName="apellido1" type="text" id="apellido_1" class="input-base" placeholder="Primer apellido">

              @if(beneficiario.get('apellido1')?.hasError('required') && beneficiario.get('apellido1')?.touched) {
                <p class="text-red-500">
                  * Este campo es requerido
                </p>
              }
            </div>

            <div class="w-full md:w-[49%] my-2">
              <label for="apellido_2" class="label-base">Segundo apellido</label>
              <input formControlName="apellido2" type="text" id="apellido_2" class="input-base" placeholder="Segundo apellido">

              @if(beneficiario.get('apellido2')?.hasError('required') && beneficiario.get('apellido2')?.touched) {
                <p class="text-red-500">
                  * Este campo es requerido
                </p>
              }
            </div>
          </div>

          <div class="w-full flex justify-between md:gap-5 flex-wrap md:flex-nowrap">
            <div class="w-full md:w-52">
              <label for="tipo_documento" class="label-base">Tipo de documento</label>
              <select formControlName="tipoDocumento" name="tipo_documento" id="tipo_documento" class="input-base">
                <option value="cc" class="input-base capitalize" selected>C.C</option>
                <option value="ti" class="input-base capitalize" >t.i</option>
                <option value="pasaporte" class="input-base capitalize" >pasaporte</option>
              </select>

              @if(beneficiario.get('tipoDocumento')?.hasError('required') && beneficiario.get('tipoDocumento')?.touched) {
                <p class="text-red-500">
                  * Este campo es requerido
                </p>
              }
            </div>

            <div class="w-full">
              <label for="id" class="label-base">Número de documento</label>
              <input formControlName="numeroDocumento" type="text" id="id" class="input-base" placeholder="Documento">

              @if(beneficiario.get('numeroDocumento')?.hasError('required') && beneficiario.get('numeroDocumento')?.touched) {
                <p class="text-red-500">
                  * Este campo es requerido
                </p>
              }
            </div>
          </div>

          <div class="w-full flex flex-wrap justify-between my-4 gap-4">

            <div class="border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 p-2">
              <label>Sexo: </label>
              <input formControlName="sexo" type="radio" value="f" class="input-radio-base"> Femenino
              <input formControlName="sexo" type="radio" value="m" class="input-radio-base"> Masculino


              @if(beneficiario.get('sexo')?.hasError('required') && beneficiario.get('sexo')?.touched) {
                <p class="text-red-500">
                  * Este campo es requerido
                </p>
              }
            </div>

            <div class="border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 p-2">
              <label>Genero: </label>
              <input formControlName="genero" type="radio" value="na"   class="input-radio-base"> No aplica
              <input formControlName="genero" type="radio" value="lgbt" class="input-radio-base"> Lgbt+

              @if(beneficiario.get('genero')?.hasError('required') && beneficiario.get('genero')?.touched) {
                <p class="text-red-500">
                  * Este campo es requerido
                </p>
              }
            </div>

            <div class="border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 p-2">
              <label>Victima del conflicto: </label>
              <input formControlName="victimaConflico" type="radio" value="0" class="input-radio-base"> No
              <input formControlName="victimaConflico" type="radio" value="1" class="input-radio-base"> Si

              @if(beneficiario.get('victimaConflico')?.hasError('required') && beneficiario.get('victimaConflico')?.touched) {
                <p class="text-red-500">
                  * Este campo es requerido
                </p>
              }
            </div>

            <div class="flex flex-col">
              <div class="relative flex  items-center gap-2">
                <label for="birthdate">Nacimiento</label>
                <input formControlName="fechaNacimiento" id="birthdate" datepicker type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 " placeholder="Select date">
              </div>
              @if(beneficiario.get('fechaNacimiento')?.hasError('required') && beneficiario.get('fechaNacimiento')?.touched) {
                <p class="text-red-500">
                  * Este campo es requerido
                </p>
              }
            </div>

            <div class="flex flex-col">
              <div class="flex items-center gap-4">
                <label for="edad" class="label-base">Edad</label>
                <input formControlName="edad" type="number" id="edad" class="w-20 px-3 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500" value="0">
              </div>
              @if(beneficiario.get('edad')?.hasError('required') && beneficiario.get('edad')?.touched) {
                <p class="text-red-500">
                  * Este campo es requerido
                </p>
              }
            </div>

          </div>

          <div>
            <label for="etnia" class="label-base">Etnia</label>
            <input formControlName="etnia" type="text" id="etnia" class="input-base" placeholder="etnia">
            @if(beneficiario.get('etnia')?.hasError('required') && beneficiario.get('etnia')?.touched) {
              <p class="text-red-500">
                * Este campo es requerido
              </p>
            }
          </div>

          <div class="flex flex-wrap md:flex-nowrap justify-between my-2">
            <div class="w-full md:w-[49%]">
              <label for="email" class="label-base">Email</label>
              <input formControlName="email" type="email" id="email" class="input-base" placeholder="beneficiario@correo.com">
              @if(beneficiario.get('email')?.hasError('required') && beneficiario.get('email')?.touched) {
                <p class="text-red-500">
                  * Este campo es requerido
                </p>
              }
            </div>

            <div class="w-full md:w-[49%]">
              <label for="phone" class="label-base">Telefono</label>
              <input formControlName="telefono" type="tel" id="phone" class="input-base" placeholder="+1 (555) 123-4567">
              @if(beneficiario.get('telefono')?.hasError('required') && beneficiario.get('telefono')?.touched) {
                <p class="text-red-500">
                  * Este campo es requerido
                </p>
              }
            </div>
          </div>

          <button (click)="deletePerson(formBeneficiary)" type="button"
            class="btn-action-red"
          >Eliminar</button>

        </div>
      </div>

    </div>



    <div class="flex justify-end space-x-4">
      <button (click)="addBeneficiary()" type="button"
        class="btn-action-green">Agregar integrante</button>
      <button type="button"
        class="btn-action-gray"
      >Cancelar</button>
      <button type="submit"
        class="btn-action-blue">
        Guardar cambios
      </button>
    </div>
  </form>
</div>

