<div class="h-screen border">
  @if(dataSource){
    <table class="example-table" cdk-table recycleRows [dataSource]="dataSource">
      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>

        <!-- id_beneficiario Column -->
      <ng-container cdkColumnDef="id_beneficiario">
        <th class="example-row" cdk-header-cell *cdkHeaderCellDef class="uppercase"> id_beneficiario</th>
        <td cdk-cell *cdkCellDef="let element"> {{element.id_beneficiario}} </td>
      </ng-container>

      <!-- id_beneficiario Column -->
      <ng-container cdkColumnDef="nombres_apellidos">
        <th class="example-row" cdk-header-cell *cdkHeaderCellDef class="uppercase"> nombres_apellidos</th>
        <td cdk-cell *cdkCellDef="let element"> {{element.nombres_apellidos}} </td>
      </ng-container>

      <!-- documento_identidad Column -->
      <ng-container cdkColumnDef="documento_identidad">
        <th class="example-row" cdk-header-cell *cdkHeaderCellDef class="uppercase"> documento_identidad</th>
        <td cdk-cell *cdkCellDef="let element"> {{element.documento_identidad}} </td>
      </ng-container>

      <!-- fecha_nacimiento Column -->
      <ng-container cdkColumnDef="fecha_nacimiento">
        <th class="example-row" cdk-header-cell *cdkHeaderCellDef class="uppercase"> fecha_nacimiento</th>
        <td cdk-cell *cdkCellDef="let element"> {{element.fecha_nacimiento}} </td>
      </ng-container>

      <!-- direccion Column -->
      <ng-container cdkColumnDef="direccion">
        <th class="example-row" cdk-header-cell *cdkHeaderCellDef class="uppercase"> direccion</th>
        <td cdk-cell *cdkCellDef="let element"> {{element.direccion}} </td>
      </ng-container>

      <!-- telefono Column -->
      <ng-container cdkColumnDef="telefono">
        <th class="example-row" cdk-header-cell *cdkHeaderCellDef class="uppercase"> telefono</th>
        <td cdk-cell *cdkCellDef="let element"> {{element.telefono}} </td>
      </ng-container>

      <!-- correo_electronico Column -->
      <ng-container cdkColumnDef="correo_electronico">
        <th class="example-row" cdk-header-cell *cdkHeaderCellDef class="uppercase"> correo_electronico</th>
        <td cdk-cell *cdkCellDef="let element"> {{element.correo_electronico}} </td>
      </ng-container>

      <!-- programa_id Column -->
      <ng-container cdkColumnDef="programa_id">
        <th class="example-row" cdk-header-cell *cdkHeaderCellDef class="uppercase"> programa_id</th>
        <td cdk-cell *cdkCellDef="let element"> {{element.programa_id}} </td>
      </ng-container>

      <!-- fecha_ingreso Column -->
      <ng-container cdkColumnDef="fecha_ingreso">
        <th class="example-row" cdk-header-cell *cdkHeaderCellDef class="uppercase"> fecha_ingreso</th>
        <td cdk-cell *cdkCellDef="let element"> {{element.fecha_ingreso}} </td>
      </ng-container>

      <!-- estado Column -->
      <ng-container cdkColumnDef="estado">
        <th class="example-row" cdk-header-cell *cdkHeaderCellDef class="uppercase"> estado</th>
        <td cdk-cell *cdkCellDef="let element"> {{element.estado}} </td>
      </ng-container>

      <!-- observaciones Column -->
      <ng-container cdkColumnDef="observaciones">
        <th class="example-row" cdk-header-cell *cdkHeaderCellDef class="uppercase"> observaciones</th>
        <td cdk-cell *cdkCellDef="let element"> {{element.observaciones}} </td>
      </ng-container>

      <!-- Controls Column -->
      <ng-container cdkColumnDef="controls">
        <th class="example-row" cdk-header-cell *cdkHeaderCellDef class="uppercase"> Acciones</th>
        <td cdk-cell *cdkCellDef="let element" class="flex gap-3">
          <button type="button" (click)="delete(element)">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#232323"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
          </button>
          <button type="button" (click)="update(element)">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#232323"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
          </button>
        </td>
      </ng-container>

    </table>
  }

</div>
