<div class="font-std w-full font-normal relative overflow-x-auto flex flex-col h-section scrollbar-custom bg-white rounded-2xl">
  <form [formGroup]="formFamilyCore" class="form" (ngSubmit)="onSubmit()"
    class="scrollbar-custom overflow-y-scroll h-section p-5 leading-relaxed flex flex-col gap-3 pb-20 md:pb-5"
  >
    <div class="flex flex-wrap justify-between">
      <div class="w-full md:w-[49%]">
        <label for="nombre" class="label-base">Nombre</label>
        <input [formControlName]="'nombre'" type="text" id="nombre" class="input-base" placeholder="Nombre">

        @if(formFamilyCore.get('nombre')?.hasError('required') && formFamilyCore.get('nombre')?.touched) {
          <p class="text-red-500">
            * Este campo es requerido
          </p>
        }
      </div>

      <div class="w-full md:w-[49%]">
        <label for="tipoProyecto" class="label-base">Tipo de proyecto</label>
        <select formControlName="tipoProyecto" id="tipoProyecto" class="input-base">
          <option value="M" class="input-base capitalize">Municipal</option>
          <option value="D" class="input-base capitalize">Departamental</option>
        </select>

        @if(formFamilyCore.get('tipoProyecto')?.hasError('required') && formFamilyCore.get('tipoProyecto')?.touched) {
          <p class="text-red-500">
            * Este campo es requerido
          </p>
        }
      </div>
    </div>

    <div class="flex flex-col md:flex-row md:flex-nowrap gap-5">
      <div class="w-full flex flex-col">
        <div class="relative flex flex-col items-start gap-2">
          <label for="fechaInicio">Fecha inicio</label>
          <input formControlName="fechaInicio" id="fechaInicio" datepicker type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 " placeholder="Select date">
        </div>
        @if(formFamilyCore.get('fechaInicio')?.hasError('required') && formFamilyCore.get('fechaInicio')?.touched) {
          <p class="text-red-500">
            * Este campo es requerido
          </p>
        }
      </div>

      <div class="w-full flex flex-col">
        <div class="relative flex flex-col  items-start gap-2">
          <label for="fechaFin">Fecha finalización</label>
          <input formControlName="fechaFin" id="fechaFin" datepicker type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 " placeholder="Select date">
        </div>
        @if(formFamilyCore.get('fechaFin')?.hasError('required') && formFamilyCore.get('fechaFin')?.touched) {
          <p class="text-red-500">
            * Este campo es requerido
          </p>
        }
      </div>

    </div>


    <div class="flex flex-wrap justify-between">
      <div class="flex flex-col border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 p-2">
        <label>Estado:</label>
        <div class="flex gap-4">
          <input formControlName="estado" type="radio" value="A" class="input-radio-base"> Activo
          <input formControlName="estado" type="radio" value="I" class="input-radio-base"> Inactivo
        </div>

        @if(formFamilyCore.get('estado')?.hasError('required') && formFamilyCore.get('estado')?.touched) {
          <p class="text-red-500">
            * Este campo es requerido
          </p>
        }
      </div>
    </div>

    <div class="flex flex-col py-4 px-2 border rounded-lg border-gray-300">
      <label>Selecciona las categorías</label>
      @for(categoria of categorias(); track categoria.idCategoria){
        <div class="flex items-center gap-2">
          <input
            type="checkbox"
            [value]="categoria.idCategoria"
            (change)="onCategoryCheckboxChange($event)"
          />
          <label>{{ categoria.nombre }}</label>
        </div>
      }
      @if(formFamilyCore.get('categorias')?.hasError('required') && formFamilyCore.get('categorias')?.touched) {
        <p class="text-red-500">
          * Este campo es requerido
        </p>
      }
    </div>

    <div class="flex flex-wrap justify-between">
      <label for="descripcion"class="block mb-2 text-sm font-medium text-gray-900 ">Descripción</label>
      <textarea id="descripcion" formControlName="descripcion" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 " placeholder="Observacioes para está entrega..."></textarea>
    </div>

    <div class="flex justify-end space-x-4">
      <button routerLink='/projects' type="button" class="btn-action-gray">Cancelar</button>
      <button type="submit" class="btn-action-blue">Guardar cambios</button>
    </div>
  </form>
</div>
