<div class="p-4 space-y-4 bg-white rounded-xl shadow-sm h-[calc(100vh-6rem)] overflow-y-auto scrollbar-custom">
  <form [formGroup]="formFamilyCore" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">

    <!-- Información personal -->
    <section class="border border-gray-200 rounded-lg p-4">
      <div class="flex items-center justify-between px-2 pt-2 pb-1">
        <h3 class="text-base font-semibold text-gray-700 m-0">Información personal</h3>
        <button type="button" mat-icon-button (click)="cancelar()" aria-label="Cerrar">
          <mat-icon>close</mat-icon>
        </button>  
      </div>
      
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">  
        <!-- Nombres y apellidos -->
        <div>
          <label class="label-base">*Primer nombre</label>
          <input formControlName="primerNombre" type="text" class="input-base" 
            (input)="formFamilyCore.get('primerNombre')?.updateValueAndValidity()" />
          <p *ngIf="formFamilyCore.get('primerNombre')?.hasError('required') && formFamilyCore.get('primerNombre')?.touched"
             class="text-red-500 text-xs">⚠️ El primer nombre es obligatorio</p>
        </div>
        <div>
          <label class="label-base">Segundo nombre</label>
          <input formControlName="segundoNombre" type="text" class="input-base" />
        </div>
        <div>
          <label class="label-base">*Primer apellido</label>
          <input formControlName="primerApellido" type="text" class="input-base" 
            (input)="formFamilyCore.get('primerApellido')?.updateValueAndValidity()" />
          <p *ngIf="formFamilyCore.get('primerApellido')?.hasError('required') && formFamilyCore.get('primerApellido')?.touched"
             class="text-red-500 text-xs">⚠️ El primer apellido es obligatorio</p>
        </div>
        <div>
          <label class="label-base">Segundo apellido</label>
          <input formControlName="segundoApellido" type="text" class="input-base" />
        </div>

        <!-- Documento -->
        <div>
          <label class="label-base">*Tipo de documento</label>
          <select formControlName="tipoDocumento" class="input-base">
            <option value="CC">Cédula de Ciudadanía</option>
            <option value="TI">Tarjeta de Identidad</option>
            <option value="PA">Pasaporte</option>
            <option value="CE">Cédula Extranjera</option>
            <option value="NIT">NIT</option>
          </select>
          <p *ngIf="formFamilyCore.get('tipoDocumento')?.hasError('required') && formFamilyCore.get('tipoDocumento')?.touched"
          class="text-red-500 text-xs">⚠️ El tipo de documento es obligatorio</p>
        </div>
        <div>
          <label class="label-base">*Número de documento</label>
          <input formControlName="numeroDocumento" type="text" class="input-base" 
            (input)="formFamilyCore.get('primerApellido')?.updateValueAndValidity()" />
          <p *ngIf="formFamilyCore.get('numeroDocumento')?.hasError('required') && formFamilyCore.get('numeroDocumento')?.touched"
            class="text-red-500 text-xs">⚠️ El número de documento es obligatorio</p>
        </div>

        <!-- Fecha de nacimiento + Edad -->
        <div>
          <label class="label-base">*Fecha de nacimiento</label>
          <input formControlName="fechaNacimiento" type="date" class="input-base" 
            (input)="formFamilyCore.get('fechaNacimiento')?.updateValueAndValidity()"/>
          <p *ngIf="formFamilyCore.get('fechaNacimiento')?.hasError('required') && formFamilyCore.get('fechaNacimiento')?.touched"
            class="text-red-500 text-xs">⚠️ La fecha de nacimiento es obligatoria</p>
        </div>
        <div>
          <label class="label-base">Edad</label>
          <input formControlName="edad" readonly type="number" class="input-base bg-gray-100" 
            (input)="formFamilyCore.get('edad')?.updateValueAndValidity()"/>
          <p *ngIf="formFamilyCore.get('edad')?.hasError('required') && formFamilyCore.get('edad')?.touched"
            class="text-red-500 text-xs">⚠️ La edad es obligatoria</p>
        </div>

        <!-- Sexo -->
        <div>
          <label class="font-medium">*Sexo</label>
          <div class="flex gap-4 mt-1">
            <label><input formControlName="sexo" type="radio" value="F" /> Femenino</label>
            <label><input formControlName="sexo" type="radio" value="M" /> Masculino</label>
          </div>
          <p *ngIf="formFamilyCore.get('sexo')?.hasError('required') && formFamilyCore.get('sexo')?.touched"
            class="text-red-500 text-xs">⚠️ Debe seleccionar el sexo</p>
        </div>

        <!-- Género -->
        <div>
          <label class="font-medium">*Género</label>
          <div class="flex gap-4 mt-1">
            <label><input formControlName="genero" type="radio" value="na" /> No aplica</label>
            <label><input formControlName="genero" type="radio" value="LGBTI" /> LGBTI</label>
          </div>
          <p *ngIf="formFamilyCore.get('genero')?.hasError('required') && formFamilyCore.get('genero')?.touched"
            class="text-red-500 text-xs">⚠️ Debe seleccionar el genero</p>
        </div>

        <!-- Víctima conflicto -->
        <div>
          <label class="font-medium">*Víctima del conflicto</label>
          <div class="flex gap-4 mt-1">
            <label><input formControlName="victimaConflicto" type="radio" [value]="false" /> No</label>
            <label><input formControlName="victimaConflicto" type="radio" [value]="true" /> Sí</label>
          </div>
          <p *ngIf="formFamilyCore.get('victimaConflicto')?.hasError('required') && formFamilyCore.get('victimaConflicto')?.touched"
            class="text-red-500 text-xs">⚠️ Debe indicar si es víctima del conflicto armado</p>
        </div>

        <!-- Vivo -->
        <div>
          <label class="font-medium">Vivo</label>
          <div class="flex gap-4 mt-1">
            <label><input formControlName="esVivo" type="radio" [value]="true" /> Sí</label>
            <label><input formControlName="esVivo" type="radio" [value]="false" /> No</label>
          </div>
          <p *ngIf="formFamilyCore.get('esVivo')?.hasError('required') && formFamilyCore.get('esVivo')?.touched"
            class="text-red-500 text-xs">⚠️ Debe indicar si esta vivo</p>
        </div>

        <!-- Discapacidad -->
        <div>
          <label class="font-medium">*Discapacidad</label>
          <div class="flex gap-4 mt-1">
            <label><input formControlName="discapacidad" type="radio" [value]="false" /> No</label>
            <label><input formControlName="discapacidad" type="radio" [value]="true" /> Sí</label>
          </div>
          <p *ngIf="formFamilyCore.get('discapacidad')?.hasError('required') && formFamilyCore.get('discapacidad')?.touched"
            class="text-red-500 text-xs">⚠️ Debe indicar si tiene o no una discapacidad</p>
        </div>

        <!-- Certificado discapacidad -->
        <div *ngIf="formFamilyCore.get('discapacidad')?.value === true">
          <label class="font-medium">*Certificado de discapacidad</label>
          <div class="flex gap-4 mt-1">
            <label><input formControlName="certificadoDiscapacidad" type="radio" [value]="false" /> No</label>
            <label><input formControlName="certificadoDiscapacidad" type="radio" [value]="true" /> Sí</label>
          </div>
        </div>

        <!-- Etnia -->
        <div>
          <label class="label-base">*Etnia</label>
          <select formControlName="etnia" class="input-base">
            <option value="N">No Aplica</option>
            <option value="C">Campesino</option>
            <option value="I">Indígena</option>
            <option value="A">Afrocolombiano</option>
            <option value="E">Extranjero</option>
            <option value="M">Mestizo</option>
          </select>
          <p *ngIf="formFamilyCore.get('etnia')?.hasError('required') && formFamilyCore.get('etnia')?.touched"
            class="text-red-500 text-xs">⚠️ La selección de una etnia es obligatorio</p>
        </div>
      </div>
    </section>

    <!-- Contacto -->
    <section class="border border-gray-200 rounded-lg p-4">
      <h3 class="text-base font-semibold mb-3 text-gray-700">Contacto</h3>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <label class="label-base">Email</label>
          <input formControlName="email" type="email" class="input-base"
            (input)="formFamilyCore.get('email')?.updateValueAndValidity()" />
          <p *ngIf="formFamilyCore.get('email')?.hasError('pattern') && formFamilyCore.get('email')?.touched"
            class="text-red-500 text-xs">⚠️ El formato del correo debe ser válido - ej: correo&#64;gmail.com</p>
        </div>
        <div>
          <label class="label-base">*Teléfono</label>
          <input formControlName="telefono" type="tel" maxlength="10" class="input-base" placeholder="3000000000"
            (input)="formFamilyCore.get('telefono')?.updateValueAndValidity()"/>
          <p *ngIf="formFamilyCore.get('telefono')?.hasError('required') && formFamilyCore.get('telefono')?.touched"
            class="text-red-500 text-xs">⚠️ El teléfono es obligatorio</p>
          <p *ngIf="formFamilyCore.get('telefono')?.hasError('pattern') && formFamilyCore.get('telefono')?.touched"
            class="text-red-500 text-xs">⚠️ Número de celular de 10 digitos</p>
        </div>
      </div>
    </section>

    <!-- BOTONES -->
    <div class="flex justify-end space-x-4">
      <button type="button" class="btn-action-gray" (click)="cancelar()">Cancelar</button>
      <button type="submit" class="btn-action-blue" [disabled]="formFamilyCore.invalid">
        Guardar cambios
      </button>
    </div>
  </form>
</div>
