<!-- 🌐 Contenedor general -->
<div class="min-h-screen bg-gray-50/50 flex flex-col xl:flex-row overflow-x-hidden overflow-y-auto scrollbar-custom">

  <!-- 🔹 Sidebar fijo -->
  <app-sidebar></app-sidebar>

  <!-- 🔹 Contenido principal -->
  <div class="flex flex-col flex-1 xl:ml-80 w-full min-h-screen overflow-y-auto overflow-x-hidden scrollbar-custom">
    <app-header></app-header>

    <!-- 🔹 Sección principal -->
    <div class="flex-1 px-4 pb-6">
      <router-outlet />
    </div>
  </div>
</div>
