<div class="relative overflow-x-auto mt-4 flex flex-col h-[calc(100vh-6rem)] scrollbar-custom">
  <!-- <p>{{searchTerm()}}</p> -->

  <div class="h-5/6">
    @if(dataSource){
      <table class="w-auto overflow-auto text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 overflow-x-scroll "
        cdk-table recycleRows
        [dataSource]="dataSource"
      >
        <!-- @for(){

        } -->

        <tr cdk-header-row *cdkHeaderRowDef="displayedColumns()" class="text-xs text-gray-700 uppercase bg-gray-50"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: displayedColumns();" class="bg-white border-b text-gray-900"></tr>

        <!-- codigo Column -->
        <ng-container cdkColumnDef="codigo">
          <th class="px-6 py-4 font-medium  whitespace-nowrap dark:text-gray-900" cdk-header-cell *cdkHeaderCellDef> codigo </th>
          <td scope="row" class="px-6 py-4 font-medium whitespace-nowrap dark:text-gray-900" cdk-cell *cdkCellDef="let element"> {{element.codigo}} </td>
        </ng-container>




      </table>
    }
  </div>



</div>
