<div class="relative flex flex-col">

  @if(dataSource){
    <table
      class="w-auto overflow-auto text-sm text-left rtl:text-right text-gray-500  "
      cdk-table recycleRows
      [dataSource]="dataSource"
    >
      @for(column of displayedColumns(); track $index){
      <!-- Columns -->
      <ng-container [cdkColumnDef]="column">
        @if(this.stickyColumns().includes(column)){
          <th class="px-6 py-4 font-medium  whitespace-nowrap " cdk-header-cell *cdkHeaderCellDef>
            {{column}}
          </th>
        }@else{
          <th sticky class="px-6 py-4 font-medium  whitespace-nowrap " cdk-header-cell *cdkHeaderCellDef>
            {{column}}
          </th>
        }
        @if(column === "controls"){
          <td cdk-cell *cdkCellDef="let element" class="flex gap-3 px-6 py-4 font-medium whitespace-nowrap ">
            <button type="button" (click)="delete(element)">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#b91c1c"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
            </button>
            <button type="button" (click)="update(element)">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#22c55e"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
            </button>
          </td>
        }
        @else {
          <td scope="row" class="px-6 py-4 font-medium whitespace-nowrap " cdk-cell *cdkCellDef="let element">
            {{element[column]}}
          </td>
        }
      </ng-container>

      }

      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns()" class="text-xs text-gray-700 uppercase bg-gray-50"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns();" class="bg-white border-b text-gray-900"></tr>

    </table>
    <!-- <br>
    <br>
    <br> -->
    <!-- <button type="button">Next</button> -->
  }

</div>
