<div class="max-w-2xl mx-auto">
  <button
    type="button"
    class="btn-aside-dropdown"
    aria-controls="dropdown"
    data-collapse-toggle="dropdown"
    (click)="toggleMenu()"
  >
    <span class="flex-1 ml-3 text-left whitespace-nowrap" sidebar-toggle-item>
      4. Beneficiarios
    </span>
    <svg sidebar-toggle-item class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        [ngClass]="{ 'rotate-180 transition-transform duration-300': activeMenu }">
      <path fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
    </svg>
  </button>

  <ul
      class="overflow-hidden transition-all duration-300 pl-6"
      [style.maxHeight]="activeMenu && !collapsed ? '400px' : '0px'"
    >
      <!-- 🔹 Lista de subopciones -->
      <li *ngFor="let item of menuItems">
        <a [routerLink]="item.link" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
          <button
            type="button"
            class="flex items-center gap-3 w-full py-2 px-4 text-xs text-white font-medium rounded-lg hover:bg-white/10 active:bg-white/20 transition-colors duration-200"
          >
            <span
              class="transition-all duration-200"
              [ngClass]="{
                'opacity-0 translate-x-[-10px] scale-95 hidden': collapsed,
                'block': !collapsed
              }"
            >
              {{ item.label }}
            </span>
          </button>
        </a>
      </li>
    </ul>

</div>
