<div class="font-std w-full font-normal relative overflow-x-auto flex flex-col h-section scrollbar-custom bg-white rounded-2xl">
  <form [formGroup]="formFamilyCore" class="form" (ngSubmit)="onSubmit()"
    class="scrollbar-custom overflow-y-scroll h-section p-5 leading-relaxed flex flex-col gap-3 pb-20 md:pb-5"
  >
    <div class="flex flex-wrap justify-between">
      <div class="w-full md:w-[49%]">
        <label for="proyecto" class="label-base">Seleccionar proyecto</label>
        <select formControlName="proyecto" name="proyecto" id="proyecto" class="input-base">
          <option value="Cauca adelante" class="input-base capitalize" selected>Cauca adelante</option>
          <option value="Hambre cero" class="input-base capitalize" >Hambre cero</option>
          <option value="ambiental" class="input-base capitalize">Ambiental</option>
        </select>

        @if(formFamilyCore.get('zona')?.hasError('required') && formFamilyCore.get('zona')?.touched) {
          <p class="text-red-500">
            * Este campo es requerido
          </p>
        }
      </div>

      <div class="w-full md:w-[49%]">
        <label for="categoria" class="label-base">Seleccionar categoria</label>
        <select formControlName="categoria" name="categoria" id="categoria" class="input-base">
          <option value="invierno" class="input-base capitalize" selected>invierno</option>
          <option value="verano" class="input-base capitalize" >verano</option>
          <option value="ambiental" class="input-base capitalize">ambiental</option>
        </select>

        @if(formFamilyCore.get('categoria')?.hasError('required') && formFamilyCore.get('categoria')?.touched) {
          <p class="text-red-500">
            * Este campo es requerido
          </p>
        }
      </div>
    </div>

    <h2>Productos</h2>
    <!--  -->
    <div formArrayName="productos" >
      <div class="flex justify-between flex-wrap gap-4 mb-4" *ngFor="let producto of getCtrl('productos', formFamilyCore).controls; index as formProducts" >
        <div class="flex flex-col w-full border border-gray-400 rounded-2xl p-4" [formGroupName]="formProducts">

          <div class="w-full flex flex-wrap justify-between">
            <div class="w-full md:w-[49%]">
              <label for="nombre" class="label-base">Nombre producto</label>
              <input formControlName="nombre" type="text" id="nombre" class="input-base" placeholder="Nombre producto">

              @if(producto.get('nombre')?.hasError('required') && producto.get('nombre')?.touched) {
                <p class="text-red-500">
                  * Este campo es requerido
                </p>
              }
            </div>

            <div class="w-full md:w-[49%]">
              <label for="stock" class="label-base">Stock</label>
              <input formControlName="stock" type="text" id="stock" class="input-base" placeholder="Stock">

              @if(producto.get('stock')?.hasError('required') && producto.get('stock')?.touched) {
                <p class="text-red-500">
                  * Este campo es requerido
                </p>
              }
            </div>
          </div>

          <div class="flex flex-wrap justify-between">
            <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Observacioes</label>
            <textarea formControlName="descripcion" id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 " placeholder="Observacioes para está entrega..."></textarea>
          </div>


          <button (click)="deleteProduct(formProducts)" type="button"
            class="btn-action-red"
          >Eliminar</button>

        </div>
      </div>

    </div>



    <div class="flex justify-end space-x-4">
      <button (click)="addProducts()" type="button"
        class="btn-action-green">Agregar producto</button>
      <button type="button"
        class="btn-action-gray"
      >Cancelar</button>
      <button type="submit"
        class="btn-action-blue">
        Guardar cambios
      </button>
    </div>
  </form>
</div>

