<div class="font-std w-full font-normal relative overflow-x-auto flex flex-col h-section scrollbar-custom bg-white rounded-2xl">



  <form [formGroup]="formFamilyCore" class="form" (ngSubmit)="onSubmit()"
    class="scrollbar-custom overflow-y-scroll h-section p-5 leading-relaxed flex flex-col gap-3 pb-20 md:pb-5"
  >

    <div class="flex flex-col w-full border border-gray-400 rounded-2xl p-4">
      <h2>Beneficiario</h2>
      <div class="relative flex">
        <input
          type="search"
          class="relative m-0 -me-0.5 block flex-auto rounded-s border border-solid border-neutral-200 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-surface outline-none transition duration-200 ease-in-out placeholder:text-neutral-500 focus:z-[3] focus:border-primary focus:shadow-inset focus:outline-none motion-reduce:transition-none"
          placeholder="Buscar beneficiario por identificación"
          aria-label="Buscar beneficiario por identificación"
          id="exampleFormControlInput3"
          aria-describedby="button-addon3" />
        <button
          class="z-[2] inline-block rounded-e border-2 border-primary px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-primary transition duration-150 ease-in-out hover:border-primary-accent-300 hover:bg-primary-50/50 hover:text-primary-accent-300 focus:border-primary-600 focus:bg-primary-50/50 focus:text-primary-600 focus:outline-none focus:ring-0 active:border-primary-700 active:text-primary-700"
          data-twe-ripple-init
          data-twe-ripple-color="white"
          type="button"
          id="button-addon3">
          Buscar
        </button>
      </div>

      <div class="mt-4 border p-2 rounded-xl">
        <div class="flex flex-col md:flex-row md:gap-4 w-full py-1">
          <div class="flex gap-2 w-full">
            <p>Primer nombre:</p>
            <p class="uppercase">{{'lidia'}}</p>
          </div>

          <div class="flex gap-2 w-full">
            <p>Segundo nombre:</p>
            <p class="uppercase">{{'ILDA'}}</p>
          </div>
        </div>

        <div class="flex flex-col md:flex-row md:gap-4 w-full py-1">
          <div class="flex gap-2 w-full">
            <p>Primer apellido:</p>
            <p class="uppercase">{{'pipicano'}}</p>
          </div>

          <div class="flex gap-2 w-full">
            <p>Segundo apellido:</p>
            <p class="uppercase">{{''}}</p>
          </div>
        </div>

        <div class="flex flex-col md:flex-row md:gap-4 w-full py-1">
          <div class="flex gap-2 w-full">
            <p>Tipo de documento:</p>
            <p class="uppercase">{{'cc'}}</p>
          </div>

          <div class="flex gap-2 w-full">
            <p>Número:</p>
            <p class="uppercase">{{48601248}}</p>
          </div>
        </div>

        <div class="flex flex-col md:flex-row md:gap-4 w-full py-1">
          <div class="flex gap-2 w-full">
            <p>Grupo familiar:</p>
            <p class="uppercase">{{'los torres'}}</p>
          </div>

          <div class="flex gap-2 w-full">
            <p>Ubicación:</p>
            <p class="uppercase">{{'ACHIRAL'}}</p>
          </div>
        </div>

      </div>
    </div>

    <div class="flex flex-wrap justify-between">
      <div class="w-full md:w-[49%]">
        <label for="proyecto" class="label-base">Seleccionar proyecto</label>
        <select formControlName="proyecto" name="proyecto" id="proyecto" class="input-base">
          <option value="alta" class="input-base capitalize">alta</option>
          <option value="Cauca adelante" class="input-base capitalize" >media</option>
          <option value="Hambre cero" class="input-base capitalize">Hambre cero</option>
        </select>

        @if(formFamilyCore.get('proyecto')?.hasError('required') && formFamilyCore.get('proyecto')?.touched) {
          <p class="text-red-500">
            * Este campo es requerido
          </p>
        }
      </div>

      <div class="w-full md:w-[49%]">
        <label for="responsableVisita" class="label-base">Responsable visita</label>
        <input [formControlName]="'responsableVisita'" type="text" id="responsableVisita" class="input-base" placeholder="Responsable visita">

        @if(formFamilyCore.get('responsableVisita')?.hasError('required') && formFamilyCore.get('responsableVisita')?.touched) {
          <p class="text-red-500">
            * Este campo es requerido
          </p>
        }
      </div>
    </div>

    <div class="flex flex-wrap justify-between">
      <div class="w-full md:w-[49%]">
        <label for="direccion" class="label-base">Dirección</label>
        <input [formControlName]="'direccion'" type="text" id="direccion" class="input-base" placeholder="Dirección">

        @if(formFamilyCore.get('direccion')?.hasError('required') && formFamilyCore.get('direccion')?.touched) {
          <p class="text-red-500">
            * Este campo es requerido
          </p>
        }
      </div>

      <div class="w-full md:w-[49%]">
        <label for="prioridad" class="label-base">Seleccionar prioridad</label>
        <select formControlName="prioridad" name="prioridad" id="prioridad" class="input-base">
          <option value="alta" class="input-base capitalize">alta</option>
          <option value="media" class="input-base capitalize">media</option>
          <option value="baja" class="input-base capitalize">baja</option>
        </select>

        @if(formFamilyCore.get('prioridad')?.hasError('required') && formFamilyCore.get('prioridad')?.touched) {
          <p class="text-red-500">
            * Este campo es requerido
          </p>
        }
      </div>
    </div>

    <div class="flex flex-wrap justify-between">

    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Observacioes</label>
    <textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Observacioes para está entrega..."></textarea>
    </div>


    <h2>Productos</h2>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              Nombre
            </th>
            <th scope="col" class="px-6 py-3">
              Stock
            </th>
            <th scope="col" class="px-6 py-3">
              Categoría
            </th>
            <th scope="col" class="px-6 py-3">
              Descripción
            </th>
            <th scope="col" class="px-6 py-3">
              Cantidad Solicitado
            </th>
            <th scope="col" class="px-6 py-3">
              Acción
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Apple MacBook Pro 17"
            </th>
            <td class="px-6 py-4">
              8
            </td>
            <td class="px-6 py-4">
                Laptop
            </td>
            <td class="px-6 py-4">
              $2999
            </td>
            <td class="px-6 py-4">
              3
            </td>
            <td class="px-6 py-4">
              <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Agregar</a>
            </td>
          </tr>
          <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              Microsoft Surface Pro
            </th>
            <td class="px-6 py-4">
              20
            </td>
            <td class="px-6 py-4">
                Laptop PC
            </td>
            <td class="px-6 py-4">
                $1999
            </td>
            <td class="px-6 py-4">
              5
            </td>
            <td class="px-6 py-4">
                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Agregar</a>
            </td>
          </tr>
          <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              Magic Mouse 2
            </th>
            <td class="px-6 py-4">
              5
            </td>
            <td class="px-6 py-4">
                Accessories
            </td>
            <td class="px-6 py-4">
                $99
            </td>
            <td class="px-6 py-4">
              2
            </td>
            <td class="px-6 py-4">
                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Agregar</a>
            </td>
          </tr>
          <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              Google Pixel Phone
            </th>
            <td class="px-6 py-4">
              12
            </td>
            <td class="px-6 py-4">
              Phone
            </td>
            <td class="px-6 py-4">
              $799
            </td>
            <td class="px-6 py-4">
              1
            </td>
            <td class="px-6 py-4">
              <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Agregar</a>
            </td>
          </tr>
          <tr>
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              Apple Watch 5
            </th>
            <td class="px-6 py-4">
              32
            </td>
            <td class="px-6 py-4">
              Wearables
            </td>
            <td class="px-6 py-4">
              $999
            </td>
            <td class="px-6 py-4">
              1
            </td>
            <td class="px-6 py-4">
              <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Agregar</a>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
    <!--  -->
    <!-- <div formArrayName="beneficiarios" >
      <div class="flex justify-between flex-wrap gap-4 mb-4" *ngFor="let beneficiario of getCtrl('beneficiarios', formFamilyCore).controls; index as formBeneficiary" >
        <div class="flex flex-col w-full border border-gray-400 rounded-2xl p-4" [formGroupName]="formBeneficiary">

          <div class="w-full flex flex-wrap justify-between">
            <div class="w-full md:w-[49%]">
              <label for="nombre_1" class="label-base">Primer nombre</label>
              <input formControlName="nombre1" type="text" id="nombre_1" class="input-base" placeholder="Primer nombre">

              @if(beneficiario.get('nombre1')?.hasError('required') && beneficiario.get('nombre1')?.touched) {
                <p class="text-red-500">
                  * Este campo es requerido
                </p>
              }
            </div>

            <div class="w-full md:w-[49%]">
              <label for="nombre_2" class="label-base">Segundo nombre</label>
              <input formControlName="nombre2" type="text" id="nombre_2" class="input-base" placeholder="Segundo nombre">

              @if(beneficiario.get('nombre2')?.hasError('required') && beneficiario.get('nombre2')?.touched) {
                <p class="text-red-500">
                  * Este campo es requerido
                </p>
              }
            </div>
          </div>

          <div class="w-full flex flex-wrap justify-between">
            <div class="w-full md:w-[49%] my-2">
              <label for="apellido_1" class="label-base">Primer apellido</label>
              <input formControlName="apellido1" type="text" id="apellido_1" class="input-base" placeholder="Primer apellido">

              @if(beneficiario.get('apellido1')?.hasError('required') && beneficiario.get('apellido1')?.touched) {
                <p class="text-red-500">
                  * Este campo es requerido
                </p>
              }
            </div>

            <div class="w-full md:w-[49%] my-2">
              <label for="apellido_2" class="label-base">Segundo apellido</label>
              <input formControlName="apellido2" type="text" id="apellido_2" class="input-base" placeholder="Segundo apellido">

              @if(beneficiario.get('apellido2')?.hasError('required') && beneficiario.get('apellido2')?.touched) {
                <p class="text-red-500">
                  * Este campo es requerido
                </p>
              }
            </div>
          </div>

          <div class="w-full flex justify-between md:gap-5 flex-wrap md:flex-nowrap">
            <div class="w-full md:w-52">
              <label for="tipo_documento" class="label-base">Tipo de documento</label>
              <select formControlName="tipoDocumento" name="tipo_documento" id="tipo_documento" class="input-base">
                <option value="cc" class="input-base capitalize" selected>C.C</option>
                <option value="ti" class="input-base capitalize" >t.i</option>
                <option value="pasaporte" class="input-base capitalize" >pasaporte</option>
              </select>

              @if(beneficiario.get('tipoDocumento')?.hasError('required') && beneficiario.get('tipoDocumento')?.touched) {
                <p class="text-red-500">
                  * Este campo es requerido
                </p>
              }
            </div>

            <div class="w-full">
              <label for="id" class="label-base">Número de documento</label>
              <input formControlName="numeroDocumento" type="text" id="id" class="input-base" placeholder="Documento">

              @if(beneficiario.get('numeroDocumento')?.hasError('required') && beneficiario.get('numeroDocumento')?.touched) {
                <p class="text-red-500">
                  * Este campo es requerido
                </p>
              }
            </div>
          </div>

          <div class="w-full flex flex-wrap justify-between my-4 gap-4">

            <div class="border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 p-2">
              <label>Sexo: </label>
              <input formControlName="sexo" name="sexo" type="radio" value="f" class="input-radio-base"> Femenino
              <input formControlName="sexo" name="sexo" type="radio" value="m" class="input-radio-base"> Masculino

              @if(beneficiario.get('sexo')?.hasError('required') && beneficiario.get('sexo')?.touched) {
                <p class="text-red-500">
                  * Este campo es requerido
                </p>
              }
            </div>

            <div class="border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 p-2">
              <label>Genero: </label>
              <input formControlName="genero" name="genero" type="radio" value="na"   class="input-radio-base"> No aplica
              <input formControlName="genero" name="genero" type="radio" value="lgbt" class="input-radio-base"> Lgbt+

              @if(beneficiario.get('genero')?.hasError('required') && beneficiario.get('genero')?.touched) {
                <p class="text-red-500">
                  * Este campo es requerido
                </p>
              }
            </div>

            <div class="border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 p-2">
              <label>Victima del conflicto: </label>
              <input formControlName="victimaConflico" type="radio" name="victimaConflico" value="0" class="input-radio-base"> No
              <input formControlName="victimaConflico" type="radio" name="victimaConflico" value="1" class="input-radio-base"> Si

              @if(beneficiario.get('victimaConflico')?.hasError('required') && beneficiario.get('victimaConflico')?.touched) {
                <p class="text-red-500">
                  * Este campo es requerido
                </p>
              }
            </div>

            <div class="flex flex-col">
              <div class="relative flex  items-center gap-2">
                <label for="birthdate">Nacimiento</label>
                <input formControlName="fechaNacimiento" id="birthdate" datepicker type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date">
              </div>
              @if(beneficiario.get('fechaNacimiento')?.hasError('required') && beneficiario.get('fechaNacimiento')?.touched) {
                <p class="text-red-500">
                  * Este campo es requerido
                </p>
              }
            </div>

            <div class="flex flex-col">
              <div class="flex items-center gap-4">
                <label for="edad" class="label-base">Edad</label>
                <input formControlName="edad" type="number" id="edad" class="w-20 px-3 py-2 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500" value="0">
              </div>
              @if(beneficiario.get('edad')?.hasError('required') && beneficiario.get('edad')?.touched) {
                <p class="text-red-500">
                  * Este campo es requerido
                </p>
              }
            </div>

          </div>

          <div>
            <label for="etnia" class="label-base">Etnia</label>
            <input formControlName="etnia" type="text" id="etnia" class="input-base" placeholder="etnia">
            @if(beneficiario.get('etnia')?.hasError('required') && beneficiario.get('etnia')?.touched) {
              <p class="text-red-500">
                * Este campo es requerido
              </p>
            }
          </div>

          <div class="flex flex-wrap md:flex-nowrap justify-between my-2">
            <div class="w-full md:w-[49%]">
              <label for="email" class="label-base">Email</label>
              <input formControlName="email" type="email" id="email" class="input-base" placeholder="beneficiario@correo.com">
              @if(beneficiario.get('email')?.hasError('required') && beneficiario.get('email')?.touched) {
                <p class="text-red-500">
                  * Este campo es requerido
                </p>
              }
            </div>

            <div class="w-full md:w-[49%]">
              <label for="phone" class="label-base">Telefono</label>
              <input formControlName="telefono" type="tel" id="phone" class="input-base" placeholder="+1 (555) 123-4567">
              @if(beneficiario.get('telefono')?.hasError('required') && beneficiario.get('telefono')?.touched) {
                <p class="text-red-500">
                  * Este campo es requerido
                </p>
              }
            </div>
          </div>

          <button (click)="deletePerson(formBeneficiary)" type="button"
            class="btn-action-red"
          >Eliminar</button>

        </div>
      </div>

    </div> -->



    <div class="flex justify-end space-x-4">
      <button (click)="addBeneficiary()" type="button"
        class="btn-action-green">Agregar integrante</button>
      <button type="button"
        class="btn-action-gray"
      >Cancelar</button>
      <button type="submit"
        class="btn-action-blue">
        Guardar cambios
      </button>
    </div>
  </form>
</div>
