/* 🔹 Hace que el modal permita desplazamiento interno */
.mat-mdc-dialog-container .mdc-dialog__surface {
  overflow: hidden !important;
  border-radius: 0.75rem !important; /* igual al diseño */
}

.mat-mdc-dialog-container .cdk-dialog-content {
  overflow-y: auto !important;
  max-height: 90vh;
}

/* 🔹 Mejora experiencia en móvil */
@media (max-width: 640px) {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    width: 95vw !important;
    max-height: 90vh !important;
  }
}


.fixed {
  position: fixed !important;
}
.backdrop-blur-sm {
  backdrop-filter: blur(2px);
}
