<div class="relative overflow-x-auto mt-4 flex flex-col h-[calc(100vh-6rem)] scrollbar-custom">
  <div class="w-full flex flex-wrap align-center content-start justify-start border-b-4">
    <div routerLink="/nucleo"  class="w-32 text-center m-4 flex justify-center items-center text-white font-bold shadow-md h-16 rounded-lg bg-blue-600 px-2">
      Nucleo familiar
    </div>

    <div routerLink="/beneficary" class="w-32 text-center m-4 flex justify-center items-center text-white font-bold shadow-md h-16 rounded-lg bg-red-600 px-2">
      Beneficiarios
    </div>

    <div routerLink="/proceedings" class="w-32 text-center m-4 flex justify-center items-center text-white font-bold shadow-md h-16 rounded-lg bg-green-600 px-2">
      Actas
    </div>

    <div routerLink="/resposibles" class="w-32 text-center m-4 flex justify-center items-center text-white font-bold shadow-md h-16 rounded-lg bg-slate-500 px-2">
      Responsables
    </div>

    <div routerLink="/projects" class="w-32 text-center m-4 flex justify-center items-center text-white font-bold shadow-md h-16 rounded-lg bg-lime-600 px-2">
      Proyectos
    </div>

    <div routerLink="/categorias" class="w-32 text-center m-4 flex justify-center items-center text-white font-bold shadow-md h-16 rounded-lg bg-purple-600 px-2">
      Categorias
    </div>

    <div routerLink="/inventory" class="w-32 text-center m-4 flex justify-center items-center text-white font-bold shadow-md h-16 rounded-lg bg-orange-500 px-2">
      Inventario
    </div>
  </div>

  <div class="mt-12">
    <div class="mb-12 grid gap-y-10 gap-x-6 md:grid-cols-2 xl:grid-cols-4">
      <!-- Reporte general -->
      <div (click)="downloadExcel()" class="cursor-pointer relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
        <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-blue-600 to-blue-400 text-white shadow-blue-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm-40-82v-78q-33 0-56.5-23.5T360-320v-40L168-552q-3 18-5.5 36t-2.5 36q0 121 79.5 212T440-162Zm276-102q20-22 36-47.5t26.5-53q10.5-27.5 16-56.5t5.5-59q0-98-54.5-179T600-776v16q0 33-23.5 56.5T520-680h-80v80q0 17-11.5 28.5T400-560h-80v80h240q17 0 28.5 11.5T600-440v120h40q26 0 47 15.5t29 40.5Z"/></svg>
        </div>
        <div class="p-4 text-right">
          <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Reporte global</p>
        </div>
        <div class="border-t border-blue-gray-50 p-4">
          <p class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600">
            <strong class="text-green-500">Generar</strong>&nbsp;reporte
          </p>
        </div>
      </div>
      <!-- Reporte beneficiarios -->
      <div (click)="downloadBeneficiarios()" class="cursor-pointer relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
        <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-pink-600 to-pink-400 text-white shadow-pink-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M40-160v-160q0-34 23.5-57t56.5-23h131q20 0 38 10t29 27q29 39 71.5 61t90.5 22q49 0 91.5-22t70.5-61q13-17 30.5-27t36.5-10h131q34 0 57 23t23 57v160H640v-91q-35 25-75.5 38T480-200q-43 0-84-13.5T320-252v92H40Zm440-160q-38 0-72-17.5T351-386q-17-25-42.5-39.5T253-440q22-37 93-58.5T480-520q63 0 134 21.5t93 58.5q-29 0-55 14.5T609-386q-22 32-56 49t-73 17ZM160-440q-50 0-85-35t-35-85q0-51 35-85.5t85-34.5q51 0 85.5 34.5T280-560q0 50-34.5 85T160-440Zm640 0q-50 0-85-35t-35-85q0-51 35-85.5t85-34.5q51 0 85.5 34.5T920-560q0 50-34.5 85T800-440ZM480-560q-50 0-85-35t-35-85q0-51 35-85.5t85-34.5q51 0 85.5 34.5T600-680q0 50-34.5 85T480-560Z"/></svg>
        </div>
        <div class="p-4 text-right">
          <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Beneficiarios</p>
        </div>
        <div class="border-t border-blue-gray-50 p-4">
          <p class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600">
            <strong class="text-green-500">Generar</strong>&nbsp;reporte
          </p>
        </div>
      </div>
      <!-- Reporte Actas -->
      <div (click)="downloadCategorias()" class="cursor-pointer relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
        <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-green-600 to-green-400 text-white shadow-green-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m260-520 220-360 220 360H260ZM700-80q-75 0-127.5-52.5T520-260q0-75 52.5-127.5T700-440q75 0 127.5 52.5T880-260q0 75-52.5 127.5T700-80Zm-580-20v-320h320v320H120Zm580-60q42 0 71-29t29-71q0-42-29-71t-71-29q-42 0-71 29t-29 71q0 42 29 71t71 29Zm-500-20h160v-160H200v160Zm202-420h156l-78-126-78 126Zm78 0ZM360-340Zm340 80Z"/></svg>
        </div>
        <div class="p-4 text-right">
          <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Categorías</p>
        </div>
        <div class="border-t border-blue-gray-50 p-4">
          <p class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600">
            <strong class="text-green-500">Generar</strong>&nbsp;reporte
          </p>
        </div>
      </div>
      <!-- Reporte Responsables -->
      <div (click)="downloadExcel()" class="cursor-pointer relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
        <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-orange-600 to-orange-400 text-white shadow-orange-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-6 h-6 text-white">
            <path d="M18.375 2.25c-1.035 0-1.875.84-1.875 1.875v15.75c0 1.035.84 1.875 1.875 1.875h.75c1.035 0 1.875-.84 1.875-1.875V4.125c0-1.036-.84-1.875-1.875-1.875h-.75zM9.75 8.625c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-.75a1.875 1.875 0 01-1.875-1.875V8.625zM3 13.125c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v6.75c0 1.035-.84 1.875-1.875 1.875h-.75A1.875 1.875 0 013 19.875v-6.75z"></path>
          </svg>
        </div>
        <div class="p-4 text-right">
          <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Salida de productos</p>
          <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">106</h4>
        </div>
        <div class="border-t border-blue-gray-50 p-4">
          <p class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600">
            <strong class="text-green-500">Generar</strong>&nbsp;reporte
          </p>
        </div>
      </div>
      <!-- Reporte Proyectos -->
      <div (click)="downloadExcel()" class="cursor-pointer relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
        <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-blue-600 to-blue-400 text-white shadow-blue-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-6 h-6 text-white">
            <path d="M12 7.5a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5z"></path>
            <path fill-rule="evenodd" d="M1.5 4.875C1.5 3.839 2.34 3 3.375 3h17.25c1.035 0 1.875.84 1.875 1.875v9.75c0 1.036-.84 1.875-1.875 1.875H3.375A1.875 1.875 0 011.5 14.625v-9.75zM8.25 9.75a3.75 3.75 0 117.5 0 3.75 3.75 0 01-7.5 0zM18.75 9a.75.75 0 00-.75.75v.008c0 .414.336.75.75.75h.008a.75.75 0 00.75-.75V9.75a.75.75 0 00-.75-.75h-.008zM4.5 9.75A.75.75 0 015.25 9h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H5.25a.75.75 0 01-.75-.75V9.75z" clip-rule="evenodd"></path>
            <path d="M2.25 18a.75.75 0 000 1.5c5.4 0 10.63.722 15.6 2.075 1.19.324 2.4-.558 2.4-1.82V18.75a.75.75 0 00-.75-.75H2.25z"></path>
          </svg>
        </div>
        <div class="p-4 text-right">
          <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Productos</p>
          <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">53</h4>
        </div>
        <div class="border-t border-blue-gray-50 p-4">
          <p class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600">
            <strong class="text-green-500">Generar</strong>&nbsp;reporte
          </p>
        </div>
      </div>
      <!-- Reporte categorias -->
      <div (click)="downloadExcel()" class="cursor-pointer relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
        <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-pink-600 to-pink-400 text-white shadow-pink-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-6 h-6 text-white">
            <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd"></path>
          </svg>
        </div>
        <div class="p-4 text-right">
          <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Beneficiarios</p>
          <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">2,300</h4>
        </div>
        <div class="border-t border-blue-gray-50 p-4">
          <p class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600">
            <strong class="text-green-500">Generar</strong>&nbsp;reporte
          </p>
        </div>
      </div>
      <!-- Reporte inventario -->
      <div (click)="downloadExcel()" class="cursor-pointer relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
        <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-green-600 to-green-400 text-white shadow-green-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-6 h-6 text-white">
            <path d="M6.25 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM3.25 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM19.75 7.5a.75.75 0 00-1.5 0v2.25H16a.75.75 0 000 1.5h2.25v2.25a.75.75 0 001.5 0v-2.25H22a.75.75 0 000-1.5h-2.25V7.5z"></path>
          </svg>
        </div>
        <div class="p-4 text-right">
          <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Nuevos beneficiarios</p>
          <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">462</h4>
        </div>
        <div class="border-t border-blue-gray-50 p-4">
          <p class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600">
            <strong class="text-red-500">Lista</strong>&nbsp;de usuarios
          </p>
        </div>
      </div>
    </div>

    <!-- <div class="mb-4 grid grid-cols-1 gap-6 xl:grid-cols-3">
      <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md overflow-hidden xl:col-span-2">
        <div class="relative bg-clip-border rounded-xl overflow-hidden bg-transparent text-gray-700 shadow-none m-0 flex items-center justify-between p-6">
          <div>
            <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-blue-gray-900 mb-1">Ayudas entregadas</h6>
            <p class="antialiased font-sans text-sm leading-normal flex items-center gap-1 font-normal text-blue-gray-600">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" aria-hidden="true" class="h-4 w-4 text-blue-500">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"></path>
              </svg>
              <strong>30 entregas</strong> este mes
            </p>
          </div>
          <button aria-expanded="false" aria-haspopup="menu" id=":r5:" class="relative middle none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-8 max-w-[32px] h-8 max-h-[32px] rounded-lg text-xs text-blue-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30" type="button">
            <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currenColor" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" aria-hidden="true" class="h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z"></path>
              </svg>
            </span>
          </button>
        </div>
        <div class="p-6 overflow-x-scroll px-0 pt-0 pb-2">
          <table class="w-full min-w-[640px] table-auto">
            <thead>
              <tr>
                <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
                  <p class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400">productos</p>
                </th>
                <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
                  <p class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400">en stock</p>
                </th>
                <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
                  <p class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400">almacenados</p>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="py-3 px-5 border-b border-blue-gray-50">
                  <div class="flex items-center gap-4">
                    <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold">Cemento</p>
                  </div>
                </td>

                <td class="py-3 px-5 border-b border-blue-gray-50">
                  <p class="block antialiased font-sans text-xs font-medium text-blue-gray-600">14,000 Kg</p>
                </td>
                <td class="py-3 px-5 border-b border-blue-gray-50">
                  <div class="w-10/12">
                    <p class="antialiased font-sans mb-1 block text-xs font-medium text-blue-gray-600">60%</p>
                    <div class="flex flex-start bg-blue-gray-50 overflow-hidden w-full rounded-sm font-sans text-xs font-medium h-1">
                      <div class="flex justify-center items-center h-full bg-gradient-to-tr from-blue-600 to-blue-400 text-white" style="width: 60%;"></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="py-3 px-5 border-b border-blue-gray-50">
                  <div class="flex items-center gap-4">
                    <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold">Pintura</p>
                  </div>
                </td>
                <td class="py-3 px-5 border-b border-blue-gray-50">
                  <p class="block antialiased font-sans text-xs font-medium text-blue-gray-600">3,000 L</p>
                </td>
                <td class="py-3 px-5 border-b border-blue-gray-50">
                  <div class="w-10/12">
                    <p class="antialiased font-sans mb-1 block text-xs font-medium text-blue-gray-600">10%</p>
                    <div class="flex flex-start bg-blue-gray-50 overflow-hidden w-full rounded-sm font-sans text-xs font-medium h-1">
                      <div class="flex justify-center items-center h-full bg-gradient-to-tr from-blue-600 to-blue-400 text-white" style="width: 10%;"></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="py-3 px-5 border-b border-blue-gray-50">
                  <div class="flex items-center gap-4">
                    <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold">Manguera</p>
                  </div>
                </td>
                <td class="py-3 px-5 border-b border-blue-gray-50">
                  <p class="block antialiased font-sans text-xs font-medium text-blue-gray-600">Sin stock</p>
                </td>
                <td class="py-3 px-5 border-b border-blue-gray-50">
                  <div class="w-10/12">
                    <p class="antialiased font-sans mb-1 block text-xs font-medium text-blue-gray-600">0%</p>
                    <div class="flex flex-start bg-blue-gray-50 overflow-hidden w-full rounded-sm font-sans text-xs font-medium h-1">
                      <div class="flex justify-center items-center h-full bg-gradient-to-tr from-red-600 to-red-400 text-white" style="width: 30%;"></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="py-3 px-5 border-b border-blue-gray-50">
                  <div class="flex items-center gap-4">
                    <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold">Tejas</p>
                  </div>
                </td>
                <td class="py-3 px-5 border-b border-blue-gray-50">
                  <p class="block antialiased font-sans text-xs font-medium text-blue-gray-600">2500</p>
                </td>
                <td class="py-3 px-5 border-b border-blue-gray-50">
                  <div class="w-10/12">
                    <p class="antialiased font-sans mb-1 block text-xs font-medium text-blue-gray-600">100%</p>
                    <div class="flex flex-start bg-blue-gray-50 overflow-hidden w-full rounded-sm font-sans text-xs font-medium h-1">
                      <div class="flex justify-center items-center h-full bg-gradient-to-tr from-green-600 to-green-400 text-white" style="width: 100%;"></div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="py-3 px-5 border-b border-blue-gray-50">
                  <div class="flex items-center gap-4">
                    <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold">Alamabre</p>
                  </div>
                </td>
                <td class="py-3 px-5 border-b border-blue-gray-50">
                  <p class="block antialiased font-sans text-xs font-medium text-blue-gray-600">500m</p>
                </td>
                <td class="py-3 px-5 border-b border-blue-gray-50">
                  <div class="w-10/12">
                    <p class="antialiased font-sans mb-1 block text-xs font-medium text-blue-gray-600">35%</p>
                    <div class="flex flex-start bg-blue-gray-50 overflow-hidden w-full rounded-sm font-sans text-xs font-medium h-1">
                      <div class="flex justify-center items-center h-full bg-gradient-to-tr from-blue-600 to-blue-400 text-white" style="width: 35%;"></div>
                    </div>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div> -->
  </div>
</div>


