<div class="font-std w-full font-normal relative overflow-x-auto flex flex-col h-section scrollbar-custom bg-white rounded-2xl">
  <form [formGroup]="formFamilyCore" class="form" (ngSubmit)="onSubmit()"
    class="scrollbar-custom overflow-y-scroll h-section p-5 leading-relaxed flex flex-col gap-3 pb-20 md:pb-5"
  >
    <div class="flex flex-wrap justify-between">
      <div class="w-full">
        <label for="nombre" class="label-base">Nombre</label>
        <input [formControlName]="'nombre'" type="text" id="nombre" class="input-base" placeholder="Nombre">

        @if(formFamilyCore.get('nombre')?.hasError('required') && formFamilyCore.get('nombre')?.touched) {
          <p class="text-red-500">
            * Este campo es requerido
          </p>
        }
      </div>
    </div>

    <div class="flex flex-wrap justify-between">
      <label for="descripcion"class="block mb-2 text-sm font-medium text-gray-900 ">Descripción</label>
      <textarea id="descripcion" formControlName="descripcion" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 " placeholder="Observacioes para está entrega..."></textarea>
    </div>

    <div class="flex justify-end space-x-4">
      <button type="button" class="btn-action-gray" (click)="cancelar()">Cancelar</button>
      <button type="submit" class="btn-action-blue">Guardar cambios</button>
    </div>
  </form>
</div>
